extends layout

block body
  main
    h1 Current water level:
    p
      strong #{waterlevel} cm
      |  from the top at #{meastime}; recalibrated so 0 cm is full
    
    h2 Download full history:
    p
      a(href='data.csv') data.csv
